<% content_for :navbar do %>
  <%= render 'shared/navbar' %>
<% end %>

<h1 class="mb-4 text-2xl font-bold"><%= action_name.capitalize %> Job</h1>
<%= render 'form', job: @job %>
<%= link_to 'Back', job_path(@job), class: 'text-blue-500 hover:underline' %>
